{% extends 'base.html' %}{% load crispy_forms_tags %}
{% block area %}{{ request.session.area }}{% endblock %}
{% block subtitle %}在庫確認{% endblock %}
{% block content %}
<table class="table">
    {% regroup data by device__service__name as service_list %}
    <!-- TV,NET,TEL,その他でグループ化 -->
    {% for service in service_list %}
    <tr class="bg-secondary text-white">
        <td>{{ service.grouper }}</td>
        <td>機種</td>
        <td>倉庫</td>
        <td>持出</td>
    </tr>
    {% regroup service.list by device__type__name as type_list %}
    <!-- LINK,STB,無線,有線等のサービスタイプ毎にグループ化 -->
    {% for type in type_list %}
    <tr class="bg-light text-dark">
        <td>{{type.grouper}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% regroup type.list by device__name as device_list %}
    <!-- 機種毎にグループ化 -->
    {% for device in device_list %}
    <tr>
        <td></td>
        <td><a href="../{{device.grouper}}/device_stock_list/">{{device.grouper}}</a></td>
        <!-- 機種名の表示に在庫リストへのリンクを付ける -->

        <!-- 以下、持出数・在庫数表示の式 -->
        {% for device_data in device.list %}
            {% if device.list|length == 1 %}
            <!-- 機種毎に持出と在庫の両方が存在しているか確認　device.list|length == 1 は持出か在庫どちらかしかない場合 -->
                {% if device_data.status == 1 %}
                <!-- device_data.status == 1 は持出のみ存在する場合なので在庫数を<td>0</td>で埋める -->
                    <td>{{device_data.device__count}}</td><td>0</td>
                {% elif device_data.status == 2 %}
                <!-- device_data.status == 2 は在庫のみ存在する場合なので持出数を<td>0</td>で埋める --> 
                    <td>0</td><td>{{device_data.device__count}}</td> 
                {% endif %}
            {% else %}
                <!-- 持出、在庫両方存在する場合 -->
                <td>{{device_data.device__count}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</table>
<div class="w-50 mx-auto">
    <input class="btn btn-primary form-control" type="button" onclick="history.back(-1)" value="戻る">
</div>
{% endblock %}
