{% extends 'base.html' %}{% load crispy_forms_tags %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<form class="mx-auto my-4 fs-4 form-control" action="{% url 'return' %}" method="post">
    {% csrf_token %}
    <div class="mt-5 fs-3">
        <h2 class="text-center my-3">返却登録</h2>
        {% if serial %}
            <p class="text-danger">{{device}}:{{serial}}の<br />
                返却処理が完了しました</p>
        {% endif %}
        <select name="status" class="form-select my-5">
            <option value=1 selected>倉庫返却</option>
            <option value=4>不良返却</option>
        </select>
        <p>現在の手持ち在庫</p>
        {% if not data%}
        <span class="alert alert-danger" role="alert">手持ちの在庫無し<br />出庫してください</span>
        {% else %}
        {% regroup data|dictsort:"device__service__sort_no" by device__service__name as service_list %}
        <table>
            {% for service in service_list %}
            {% regroup service.list|dictsort:"device__type__sort_no" by device__type__name as type_list %}
            {% for type in type_list %}
            {% regroup type.list by device__name as device_list %}
            {% for obj1 in device_list %}
            <tr>
                <td></td>
                <td>
                    {{obj1.grouper}}
                </td>
            </tr>
            {% for obj2 in obj1.list %}
            <tr>
                <td></td>
                <td><label><input type="checkbox" name="stock_id" value="{{obj2.id}}"> {{obj2.serial}}</label>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td></td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </table>
        {% endif %}
        <div class="w-50 mx-auto my-3">
            <input type="submit" value="登録" class="btn btn-primary form-control mt-2">
    </div>
    </div>
</form>
<div class="fs-4 text-center">
    <a href="/stocks/" class="text-decoration-none link-secondary">在庫管理トップ</a>
</div>
{% endblock %}